* {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Ubuntu";
  background-color: $bg_color;
  color: black;
  font-size: 16px;
  line-height: 1.5;
}
.flexstart {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

main {
  @extend .flexstart;
  background-color: $card_color;
  box-shadow: 0px 3px 8px 0px #00000040;
  margin: 2.888rem 1.25rem;
  padding-top: 1.396rem;
  padding-left: 0.821rem;
  padding-right: 1.054rem;
  border-radius: 10px;
  min-height: 31.25rem;
}


#add-todo {
  padding: 0 2.289rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.873rem;
    text-align: center;
    margin-bottom: 1.226rem;
    text-wrap: nowrap;
  }

  form {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.938rem;
  }

  input {
    font-size: 0.75rem;
    line-height: 0.862rem;
    text-align: left;
    color: $input_color;
    background-color: $ltblue;
    border: 1px solid $border_color;
    padding: 0.589rem 0;
    padding-left: 0.676rem;
    flex-grow: 1;
    border-radius: 5px 0 0 5px;
  }

  button {
    background-color: #aaaaaa;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
    border: 0;
  }
}

#todo-list {
  ul {
    @extend .flexstart;
    list-style: none;
    gap: 1.992rem;
    padding: 1.053rem 0.508rem;
  }

  li {
    display: flex;
    flex-direction: row;
    padding: 0.781rem 0;
    padding-left: 1.049rem;
    background-color: #dbe2ef;
    flex-grow: 1;

    span {
      border: 1px solid $border_color;
      flex-grow: 0;
      height: 1.25rem;
      width: 1.25rem;
    }
    span:hover {
      background-image: url(../assets/SVG/tick.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 14;
      justify-content: center;
    }
  }
}

.desktop {
    display: none;
  }
